@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    background-color: rgba(238, 238, 238, 1);
    text-align: center;
}

.App-header {
    background-color: rgba(142, 154, 216, 0.4);
    font-style: italic;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(2px + 2vmin);
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    color: white;
}

.App-body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}